body{
background: lightgray;
padding: 20px;
}
.txt22, .txt11, .txt33{
background-color: white;
height: 50px;
position: relative;
left: 0;
}
#txt1, #txt2, #txt3{
margin-top: 20px;
width: 29%;
float: left;
margin-left: 20px;
border-style: solid;
background: lightcoral;
border-color: black;
margin-bottom: 10px;
}
.Txt1, .txt2, .txt3{
float: right;
padding: 10px;
font-size: 30px;
}
p{
padding: 10px;
}

/*----large-----*/
@media (min-width: 768px) and (max-width: 991px){
#txt1, #txt3{
width: 45%;
}
#txt2{
width: 94%;    
}
}

/*-mobile-*/
@media (max-width: 767px){
#txt1, #txt2, #txt3{
width: 100%;
}
}


